<br>
<h1 class="text-center">Upload Book cover</h1>
<br>
<div class="container">
  <form [formGroup]="uploadForm" enctype="multipart/form-data" (ngSubmit)="onUpload()" novalidate>
    <input type="file" id="coverThumbnail" name="coverThumbnail" (change)="onChange($event)" #fileInput>
    <hr>
    <input type="text" id="remarks" class="form-control" formControlName="remarks" placeholder="Remarks">
    <br><br>
    <img id="previewImg" style="width: 300px; height: 310px" src="https://upload.wikimedia.org/wikipedia/commons/0/09/Dummy_flag.png" #imgPreview alt="upload image">
    <hr>
    <button type="submit" [disabled]="uploadForm.invalid || loading" class="btn btn-success">Upload
        <i class="fas fa-spinner fa-spin fa-fw" *ngIf="loading"></i> 
    </button>
  </form>
</div>
