<br>
<h1 class="text-center">Search Books</h1>
<div class="container">
    <div class="jumbotron">
      <form #searchBooksForm="ngForm" (ngSubmit)="onSearch()" novalidate class="row">
        <div class="input-group col-lg-7">
  
          <select class="form-control col-3" #searchType="ngModel" id="searchType" [(ngModel)]="model.searchType" [ngModelOptions]="{standalone: true}">
            <option *ngFor="let type of searchTypes" [ngValue]="type.value">{{type.desc}}</option>
          </select>
          <input id="keyword" #keyword="ngModel" name="keyword" type="text" [(ngModel)]="model.keyword"   placeholder="Book Title , Author"
            class="form-control" #title="ngModel" [ngClass]="{'has-error': keyword.errors}" pattern="[a-zA-Z][a-zA-Z ]+" required/>
            
        </div>
        <div class="col-lg-2">
          <button type="submit" id="searchBtn" [disabled]="!searchBooksForm.form.valid" class="btn btn-primary" id="search">Search</button>
        </div>
      </form>
    </div>
    <div *ngIf="(result)?.length > 0" class="row">
        <div class="col-xs-12 col-12 col-md-6">
          <pagination
            class="pagination-sm"
            [boundaryLinks]="true"
            [rotate]="false"
            [totalItems]="totalItems"
            [(ngModel)]="currentPage"
            [itemsPerPage]="itemsPerPage"
            [maxSize]="maxSize"
            (pageChanged)="pageChanged($event)"
            (numPages)="numPages = $event">
          </pagination>
        </div>
      </div>
       
    <pre *ngIf="(result)?.length > 0" class="card card-block card-header">Page: {{currentPage}} / {{numPages}}</pre>
    <hr>
    
    <table *ngIf="(result)?.length > 0" class="table">
          <thead>
            <tr>
              <th>#</th>
              <th>Book Title</th>
              <th>Author Name</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let book of result; let i = index">
              <th scope="row">{{i +1}}</th>
              <td><img style="width: 200px; height: 210px" src="/assets/images/thumbnails/{{book.cover_thumbnail}}" alt="..." class="img-fluid img-thumbnail"> {{book.title}}</td>
              <td>{{book.author_lastname | uppercase}} {{book.author_firstname | uppercase}}</td>
              <td>
                <button class="btn btn-primary" title="edit book" (click)="edit(book, template, i)"><i class="fas fa-edit" aria-hidden="true"></i></button>
                <button class="btn btn-danger" title="delete book"
                      (click)="delete(book, template2, i)"><i class="fas fa-trash-alt" aria-hidden="true"></i></button>
              </td>
            </tr>
            
          </tbody>
      </table>
      <div *ngIf="(result)?.length==0"><p class="font-weight-bold">No books found.</p></div>
  </div>

  <ng-template #template>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Edit Book</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <br>
          <div class="container">
            
          <form #editBooksForm="ngForm" (ngSubmit)="onSaveEditBook()" novalidate>
            <div class="form-group row">
              <input id="book_title" #book_title="ngModel" name="book_title" type="text" [(ngModel)]="editBook.book_title"   placeholder="Book Title" class="form-control" [ngClass]="{'has-error': book_title.errors}" required/>
            </div>
            
            <div class="form-group row">
              <input id="author_firstname" #author_firstname="ngModel" name="author_firstname" type="text" [(ngModel)]="editBook.author_firstname" placeholder="First Name" class="form-control" [ngClass]="{'has-error': author_firstname.errors}" required/>
            </div>
            
            <div class="form-group row">
              <input id="author_lastname" #author_lastname="ngModel" name="author_lastname" type="text" [(ngModel)]="editBook.author_lastname"   placeholder="Last Name" class="form-control" [ngClass]="{'has-error': author_lastname.errors}" required/>
            </div>
          
            <div class="form-group row">
              <input id="imageUrl" #imageUrl="ngModel" name="imageUrl" type="text" [(ngModel)]="editBook.imageUrl"   placeholder="Image URL" class="form-control"/>
            </div>
              <button type="submit" id="editBookBtn" [disabled]="!editBooksForm.form.valid" class="btn btn-primary">Save</button>
          </form>
          
          </div>
      </div>
    </ng-template>


    <ng-template #template2>
      <div class="modal-header">
        <h4 class="modal-title pull-left">Delete Book ?</h4>
        <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
          <br>
          <div class="container">
            
          <form #delBookForm="ngForm" (ngSubmit)="onDelBook()" novalidate>
            <div class="form-group row">
              <label for="bookTitle" class="font-weight-bold">Book Title &nbsp;</label>
              {{editBook.book_title}}
            </div>
            
            <div class="form-group row">
              <label for="firstName" class="font-weight-bold">First Name &nbsp;</label>
              {{editBook.author_firstname}}
            </div>
            
            <div class="form-group row">
              <label for="lastName" class="font-weight-bold">Last Name&nbsp;</label>
              {{editBook.author_lastname}}
            </div>
          
            <div class="form-group row">
              <label for="imageUrl" class="font-weight-bold">Image URL&nbsp;</label>
              {{editBook.imageUrl}}
            </div>
              <button type="submit" id="deleteBookBtn" class="btn btn-primary">Yes</button>
          </form>
          
          </div>
      </div>
    </ng-template>