<div class="container">
<form autocomplete="off" novalidate class="login-form" [formGroup]="form">

  <fieldset>
      <legend>Sign Up</legend>

      <div class="form-group row">
          <input name="email" class="form-control" formControlName="email" placeholder="a@a.com">
      </div>
      <div class="form-group row">
          <input name="password" class="form-control" formControlName="password" type="password" placeholder="*****">
      </div>
      <div class="form-group row">
          <input name="confirm" class="form-control" formControlName="confirm" type="password" placeholder="*****">
      </div>
  </fieldset>

  <button (click)="signUp()" [disabled]="!isPasswordMatch()" class="btn btn-primary">Sign Up</button>
  <br><br>
  <div class="col-md-12 col-sm-12 col-xs-12">
        <p>Already registered?<a href="#" routerLink="/login"> Sign In</a></p>
  </div>
</form>

</div>