<nav class="navbar navbar-expand-lg navbar-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" routerLink="/Home"
  routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">Book Worm</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav">
      <li class="nav-item">
          <a class="nav-link" routerLink="/" routerLinkActive="active"><i class="fas fa-home"></i>&nbsp;Home</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Books
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" routerLink="/books/add" routerLinkActive="active"><i class="fas fa-plus"></i>&nbsp;Add</a>
          <a class="dropdown-item" routerLink="/books"><i class="fas fa-book"></i>&nbsp;Search</a>
        </div>
      </li>
     </ul>
  </div>
</nav>