<div class="container">
    <form autocomplete="off" novalidate class="login-form" [formGroup]="form">

    <fieldset>
        <legend>Sign In</legend>
        <div class="form-group row">
            <input name="email" class="form-control" formControlName="email" placeholder="a@a.com">
        </div>
        <div class="form-group row">
            <input name="password" class="form-control" formControlName="password" type="password" placeholder="*****">
        </div>
    </fieldset>

    <button class="btn btn-primary" (click)="login()">Sign In</button>
    <br><br>
    <div class="col-md-12 col-sm-12 col-xs-12">
        <p>Not registered?<a href="#" routerLink="/register"> Create an account</a></p>
    </div>
    </form>
</div>
